* {
  margin: 0;
  padding: 0;
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
#slideimg {
  width: 100%;
  height: 100%;
}
.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
}
.navbar {
  width: 85%;
  display: flex;

  margin: 35px auto;
}
.logo {
  flex-basis: 15%;
}
.logo img {
  width: 120px;
  cursor: pointer;
}
.menuicon {
  display: flex;
  flex: 1;

  text-align: right;
  justify-content: space-between;
  padding: 2% 6%;
}
.menuicon ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  margin-left: 40px;
  cursor: pointer;
}
.menuicon ul li a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  text-align: right;
}
.menuicon ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #07b6eb;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.menuicon ul li:hover::after {
  width: 100%;
}
.menuicon ul li a .material-icons.md-18 {
  font-size: 2px;
}
.content1 {
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: white;
}
.content1 h1 {
  font-size: 60px;
}
.content1 h3 {
  width: 80%;
  margin: 20px auto 100px;
  font-weight: 100;
  line-height: 25px;
}
.content1 button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 0 10px;
  border-radius: 25px;
  font-weight: bold;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}
.content1 button:hover {
  background: #30abf1;
  border: 2px solid #fff;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 243, 224);
}
.about .heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #5e0786;
}
.about .container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.about .container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: rgb(255, 255, 255);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  align-self: flex-start;
}
.about .container .card:hover {
  height: 420px;
}
.container .card .imgbx {
  position: relative;
  width: 260px;
  height: 260px;
  z-index: 1;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgbx img {
  max-width: 100%;
  border-radius: 8px;
}
.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
@media (max-width: 700px) {
  .foot1 {
    bottom: unset;
  }
  .foot1 .col {
    flex-basis: 100%;
  }
  .foot1 .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}

.product {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background-color: rgb(186, 243, 224);
}
.prod {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.prod img {
  width: 330px;
  height: 240px;
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 0.4s;
}
.prod img:hover {
  filter: greyscale(1);
  transform: scale(1.03);
}

.footer {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background-color: rgb(186, 243, 224);
}
.footer h3 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa {
  color: blue;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.foot1 {
  width: 100%;
  position: absolute;
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
  background-color: rgb(186, 243, 224);
  background: linear-gradient(to right, #00213c, #059784);
}
.foot1 .row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.foot1 .col {
  flex-basis: 22%;
  padding: 10px;
  color: white;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}
.foot1 .logo {
  width: 130px;
  margin-bottom: 30px;
}
.foot1 .col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.foot1 p {
  font-size: 16px;
}
.mail-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.foot1 ul li {
  list-style: none;
  margin-bottom: 12px;
}
.foot1 li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.foot1 form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
.foot1 form .fa {
  font-size: 18px;
  margin-right: 10px;
}
.foot1 form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.foot1 form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.foot1 form button .fa {
  font-size: 16px;
  color: #ccc;
}
.sociallink .fa {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    cornflowerblue,
    rgba(0, 0, 0, 0)
  );
}

.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
.login-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
}
